.statistics {
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 20px 0;
    max-width: 1200px; /* Giới hạn chiều rộng nội dung */
    margin: 0 auto; /* Căn giữa nội dung */
    padding: 0 20px; 
  }
  .stat-item {
    text-align: center;
  }
  .stat-item h2 {
    color: #ff4081;
    margin: 0;
  }
  .stat-item p {
    margin: 5px 0 0;
    color: #666;
  }
  
  .container {
    max-width: 1200px; /* Giới hạn chiều rộng nội dung */
    margin: 0 auto; /* Căn giữa nội dung */
    padding: 0 20px; /* Thêm padding hai bên để không bị sát mép */
}
