<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary" href="#">Charity</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link active" href="#">Trang chủ</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="patner-detail">Đối tác</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Hoàn Cảnh Quyên Góp</a>
          <ul class="dropdown-menu">
            <li *ngFor="let category of categories"><a class="dropdown-item">{{ category.description }}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Chiến dịch</a>
          <ul class="dropdown-menu">
            <li *ngFor="let campaign of campaigns"><a class="dropdown-item">{{ campaign.title }}</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex me-3">
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm">
        <button class="btn btn-outline-primary" type="submit">Tìm</button>
      </form>
      <a class="btn btn-primary text-white me-2" href="#">Đăng nhập</a>
      <a class="btn btn-success text-white" href="#">Đăng ký</a>
    </div>
  </div>
</nav>