<mat-card class="cardWithShadow theme-card">

      <ng-template mat-tab-label><h3>Tài khoản</h3></ng-template>
      <mat-card-header>
        <mat-card-title class="m-b-0">Thông tin người dùng</mat-card-title>

      </mat-card-header>
      <mat-card-content class="b-t-1">
        <form>
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Họ và tên</mat-label>
          @if(staff){
          <mat-form-field appearance="outline" class="w-100" color="primary">

            <input [value]="staff.FullName" matInput placeholder="Họ và tên"
            (input)="onInputChange('FullName', $event)" />

          </mat-form-field>
        }
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Số điện thoại</mat-label>
          @if(staff){
          <mat-form-field appearance="outline" class="w-100" color="primary">

            <input matInput (input)="onInputChange('PhoneNumber', $event)" [value]="staff.PhoneNumber" placeholder="Số điện thoại " />

          </mat-form-field>
        }
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
          @if(staff){
          <mat-form-field appearance="outline" class="w-100" color="primary">
            @if(staffid){
              <input matInput type="email" (input)="onInputChange('Email', $event)"  [value]="staff.Email" placeholder="email" [disabled]="true"/>
            }
            @else {
              <input matInput type="email" (input)="onInputChange('Email', $event)"  [value]="staff.Email" placeholder="email" />
            }

          </mat-form-field>
        }
        </div>
        @if(!staffid){
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mật khẩu</mat-label>

          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput (input)="onInputChange('PassWord', $event)" placeholder="Mật khẩu" />

          </mat-form-field>

        </div>
      }
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Trạng thái</mat-label>
          @if(staff){
          <mat-form-field appearance="outline" class="w-100">

            <mat-select [(value)]="userStatus"  (selectionChange)="onInputChange('Status', $event.value)">
              @for(option of stt; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>

          </mat-form-field>
        }
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Quyền</mat-label>
          @if(staff){
          <mat-form-field appearance="outline" class="w-100">

            <mat-select [(value)]="staff.RoleId"  (selectionChange)="onInputChange('RoleId', $event.value)">
              @for(option of role; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>

          </mat-form-field>
        }
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8" (click)="onSubmit()">Lưu</button>
        <button mat-stroked-button color="warn">Hủy</button>
      </div>
    </form>

      </mat-card-content>

</mat-card>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-beat"
  [fullScreen]="false"
  >Loading...</ngx-spinner
>
