<mat-card class="cardWithShadow theme-card">
  <ng-template mat-tab-label><h3>Tài khoản</h3></ng-template>
  <mat-card-header>
    <mat-card-title class="m-b-0">Thông tin người dùng</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Họ và tên</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              [value]="staff.FullName"
              matInput
              placeholder="Họ và tên"
              (input)="onInputChange('FullName', $event)"
            />
          </mat-form-field>
          <div *ngIf="!staff.FullName" class="error-message">
            Họ và tên không được để trống
          </div>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              (input)="onInputChange('PhoneNumber', $event)"
              [value]="staff.PhoneNumber"
              placeholder="Số điện thoại"
            />
          </mat-form-field>
          <div *ngIf="!staff.PhoneNumber" class="error-message">
            Số điện thoại không được để trống
          </div>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              type="email"
              (input)="onInputChange('Email', $event)"
              [value]="staff.Email"
              placeholder="email"
              [disabled]="staffid ? true : false"
            />
          </mat-form-field>
          <div *ngIf="!staff.Email" class="error-message">
            Email không được để trống
          </div>
          <div
            *ngIf="!staff.Email || !staff.Email.endsWith('@gmail.com')"
            class="error-message"
          >
            Email phải kết thúc bằng &#64;gmail.com
          </div>
        </div>

        <div *ngIf="!staffid" class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mật khẩu</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              (input)="onInputChange('PassWord', $event)"
              placeholder="Mật khẩu"
            />
          </mat-form-field>
          <div *ngIf="!staff.PassWord" class="error-message">
            Mật khẩu không được để trống
          </div>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Trạng thái</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select
              [(value)]="userStatus"
              (selectionChange)="onInputChange('Status', $event.value)"
            >
              <mat-option *ngFor="let option of stt" [value]="option.value">{{
                option.viewValue
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="userStatus == null" class="error-message">
            Vui lòng chọn trạng thái
          </div>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Quyền</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select
              [(value)]="staff.RoleId"
              (selectionChange)="onInputChange('RoleId', $event.value)"
            >
              <mat-option *ngFor="let option of role" [value]="option.value">{{
                option.viewValue
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="staff.RoleId == null" class="error-message">
            Vui lòng chọn quyền
          </div>
        </div>
      </div>

      <button mat-button class="green-button" (click)="onSubmit()">
        {{ staffid ? "Cập nhật" : "Thêm người dùng" }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
