<div id="campaignCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let campaign of campaigns; let i = index" [class.active]="i === 0">
      <a [routerLink]="['/campaign-detail', campaign.id]">
        <img [src]="campaign.featuredImageUrl" class="d-block w-100" [alt]="campaign.title">
      </a>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#campaignCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#campaignCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="banner">
  <div class="banner-content">
    <h1 class="banner-title">Quỹ Ước Mơ - Thiện nguyện mỗi ngày</h1>
    <p class="banner-description">
      Quỹ Ước Mơ là nơi tập hợp các dự án thiện nguyện, giúp bạn dễ dàng quyên góp cho các hoàn cảnh khó khăn. 
      Hãy chung tay vì một thế giới tốt đẹp hơn!
    </p>
    <button class="donate-button">Quyên góp ngay</button>
  </div>
  <img src="https://homepage.momocdn.net/img/momo-upload-api-220610222354-637904966341393543.png" alt="Minh họa quyên góp" class="banner-image">
</section>



  