.footer {
  background-color: #000; /* Màu nền đen */
  color: white; /* Chữ màu trắng */
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}
