<div class="app-topstrip custom-bg text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between">
  <a mat-button [routerLink]="['/home']">
    <h2 class="f-s-18 m-y-8 text-lg-left text-center" style="color: black;">Quỹ Ước Mơ</h2>
  </a>

  <form class="d-flex me-3" (submit)="searchCampaigns($event)">
    <input class="form-control me-2" type="search" placeholder="Tìm kiếm chiến dịch..." [(ngModel)]="searchQuery" name="searchQuery">
    <button class="btn btn-outline-primary" type="submit" style="color: black;">Tìm</button>
  </form>

  <div class="search-results-container">
    <ul *ngIf="filteredCampaigns.length > 0" class="dropdown-menu show search-results">
      <li *ngFor="let campaign of filteredCampaigns">
        <a class="dropdown-item" [routerLink]="'/view-campaign-detail/' + campaign.Id">
          {{ campaign.Title }}
        </a>
      </li>
    </ul>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-wrap">
    <a *ngIf="isAdminUser" mat-button class="text-white d-none d-lg-flex" [routerLink]="['/list-users']">
      <div class="d-flex align-items-center gap-4">
        <i-tabler name="lifebuoy" class="icon-20 d-flex"></i-tabler>
        Manager Users
      </div>
    </a>

    <a *ngIf="isAdminUser" mat-button class="text-white d-none d-lg-flex" [routerLink]="['/list-campaign']">
      <div class="d-flex align-items-center gap-4">
        <i-tabler name="lifebuoy" class="icon-20 d-flex"></i-tabler>
        Manager Campaigns
      </div>
    </a>

    <a mat-button class="text-white d-none d-lg-flex" [routerLink]="['/list-partner']">
      <div class="d-flex align-items-center gap-4">
        <i-tabler name="lifebuoy" class="icon-20 d-flex"></i-tabler>
        List partner
      </div>
    </a>

    <div class="dropdown">
      <button class="btn btn-outline-secondary border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Hoàn Cảnh Quyên Góp
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li *ngFor="let category of categories">
          <button class="dropdown-item" type="button" (click)="goToCategory(category.id)">{{ category.name }}</button>
        </li>
      </ul>
    </div>

    <a *ngIf="!isLoggedIn" mat-button class="text-white d-none d-lg-flex" [routerLink]="['/authentication/login']">
      <div class="d-flex align-items-center gap-4">
        <i-tabler name="lifebuoy" class="icon-20 d-flex"></i-tabler>
        Đăng nhập
      </div>
    </a>

    <span class="flex-1-auto"></span>
    
    <button *ngIf="isLoggedIn" mat-mini-fab [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
      <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover d-block" width="35" />
    </button>

    <mat-menu #profilemenu="matMenu" class="cardWithShadow topbar-dd">
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon> My Profile
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon> My Account
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="list-check" class="icon-18 d-flex"></i-tabler></mat-icon> My Task
      </button>

      <div class="p-x-12 m-t-12">
        <a [routerLink]="['/authentication/login']" mat-stroked-button class="w-100" (click)="logout()">Logout</a>
      </div>
    </mat-menu>
  </div>
</div>
